
.container{
    max-width: 1560px;
    margin: 0 auto;
}


/* banner */

.banner .container{
    max-width: 1920px;
    height: 650px;
    background-image: url(../../images/background.jpg);
    background-size: cover;
}

/* first */

.text{
    background-color: #56DBB1;
}

.text .container{
    padding: 4.5em 0;
    text-align: center;
}

/* crads */

.cards{
    background-color: #353434;
}

.cards .container{
    display: flex;
    align-items: center;
    gap: 2em;

    padding: 7em 0;
}

.cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    max-width: 450px;
}

.cards .card p{
    padding-top: 1em ;
    font-size: 0.8em;
    line-height: 2;

    border-top: 2px solid #fff;
    
    font-weight: 800;
    color: #5B5951;
} 

.cards .card .card-header{
    padding: 0;
    font-size: inherit;
    color: white;
    
    border-top: none;
}

.cards .card .media svg{
    width: 110px; height: 110px;
    fill: #fff;

    padding: 1em;
    background-color: #56DBB1;
}

/* input */

.input .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4em 0;
}

.input .container h2{
    color: #5F5F5F;
}

.input .container p{
    opacity: 0.4;
    margin-top: -0.5em;
}

.input .container .button{
    margin-top: 1.5em;
}

/* colums */

.colums{
    background-color: #353434;
}

.colums .container{
    display: flex;
    gap: 2em;
    align-items: center;
    text-align: center;

    padding: 7em 0;
}

.colums .container .colum{
    max-width: 400px;
    font-weight: 800;
}

.colums .container .colum h3{
    color: #fff;
}

.colums .container .colum p{
    padding-top: 1em;
    font-size: 0.8em;
    color: #5B5951;
}