
header{
    display: flex;
    gap: 3em;

    padding: 2em 4em;

    background-image: url("../..//images/background.jpg");
    color: rgb(255, 255, 255);
    background-size: cover;
    height: 40em;

}

nav{
    flex-grow: 1;
}

header ul{
    display: flex;
    justify-content: flex-end;
    
    gap: 1em;
}

header ul li{
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
}

.media{
    flex: 0 1 5%;
}

.site-about-title{
    text-align: left;
    margin-bottom: 0.5em;
}

.about{
    flex: 0 1 500px;
    align-self: center;
    font-size: 1.2em;
}