

body{

    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    gap: 1em;

    margin: 2em 3em;
    padding: 0;
}

body > *{
    padding: 2em;
    flex-basis: 100%;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

main, 
aside{
    min-height: 300px;
}

main{
    flex: 1 0 55%;
}

aside{
    flex: 1 1 auto;
}