

*{
    box-sizing: border-box;
}

body{
    margin: 3em 2em;

    font: 16px/1.2 Arial, serif;
}

h1,h2,h3,h4,h5,h6{
    font-size: 1.4em;
    font-weight: 100;
}

header{
    display: flex;

    justify-content: space-between;
    border-bottom: 2px solid black;
}

ul{
    display: flex;
    gap: 1em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.title{
    text-transform: uppercase;
    margin-bottom: 0;
    font: 2em/1.5 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}