
body{
    background-image: url(../../images/poster.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

.site{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.site-header,
.banner-text{
    background-color: rgba(0, 0, 0, 0.479);
}