
@media (width >= 1500px){

    .site{
        width: 60vw;
        justify-content: center;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media (width > 1024px){

    .need-a-website{
        justify-content: center;
    }

    .card{
        width:250px
    }

    main > *:not(.newsletter){
        align-self: center;
        width: 50vw;
    }


    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    footer >*{
        width: 25em;
    }
}

@media (width <= 1024px){

    .card{
        width:200px
    }
}

@media (width < 450px){

    .card{
        width:125px
    }
}



